<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main id="maincontent" class="wp-block-group">
	<!-- wp:rucphen/program-schedule /-->

	<!-- wp:group {"tagName":"section","className":"section","layout":{"type":"default"}} -->
	<section class="wp-block-group section">
		<!-- wp:group {"className":"container","layout":{"type":"default"}} -->
		<div class="wp-block-group container">
			<!-- wp:heading {"level":2} --><h2>Alle programma's</h2><!-- /wp:heading -->
			<!-- wp:query {"query":{"perPage":24,"postType":"rucphen_program","order":"asc","orderBy":"title","inherit":false},"className":"grid grid-3"} -->
			<div class="wp-block-query grid grid-3">
				<!-- wp:post-template -->
					<!-- wp:post-featured-image {"isLink":true} /-->
					<!-- wp:post-title {"isLink":true,"level":3} /-->
					<!-- wp:post-excerpt /-->
				<!-- /wp:post-template -->
				<!-- wp:query-pagination /-->
			</div>
			<!-- /wp:query -->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sticky-player"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
