<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main id="maincontent" class="wp-block-group">
	<!-- wp:group {"className":"rucphen-container","style":{"spacing":{"padding":{"top":"3rem","bottom":"4rem"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group rucphen-container" style="padding-top:3rem;padding-bottom:4rem">
		<!-- wp:post-title {"level":1,"className":"font-display"} /-->
		<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sticky-player"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
